@import '../../styles/variables.scss';

.booking {
  margin: 50px 0;
  .contents {
    height: 700px;
    border: 1px solid $grey88;

    .listName {
      font-weight: bold;
      font-size: 18px;
      padding: 20px 0 20px 15px;
      border-bottom: 1px solid $grey88;
    }

    .movieListStyle {
      border: 1px solid $grey88;
      height: 642px;
    }

    .bookingTop {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: 15px;
      background-color: $theme-color;

      h1 {
        font-size: 24px;
        font-weight: bold;
        color: $white;
      }

      .bookingNavi {
        border: 1px solid $white;
        border-radius: 4px;
        background-color: $white;
        color: $theme-color;
        font-size: 12px;
        padding: 5px 15px;
      }
    }
    .selectBox {
      display: flex;

      li {
        .listBtn {
          width: 100%;
          padding: 20px 15px;
          text-align: left;
          background-color: $white;
          border: 2px solid $white;

          &:hover {
            background-color: #f0f0ff;
          }
        }

        .selected {
          width: 100%;
          padding: 20px 15px;
          text-align: left;
          border: 2px solid $white;
          background-color: #f0f0ff;
        }
      }

      .selectMovieList {
        width: 350px;

        .sortCategory {
          display: flex;
          font-size: 13px;
          padding: 15px 20px 0 20px;

          button {
            background-color: transparent;
            border: none;
            color: $grey66;
            margin: 0 15px 10px 0;
            padding: 5px 8px;
            border-bottom: 1px solid $grey66;

            &:hover {
              cursor: pointer;
            }
          }

          .select {
            border-bottom: 2px solid $grey66;
          }
        }

        span {
          margin-right: 15px;
          background-color: yellowgreen;
          font-size: 11px;
          padding: 5px;
          color: $white;
          border-radius: 5px;
        }
      }

      .dateList {
        width: 120px;
        background-color: #f7f7f7;
        p {
          background-color: $white;
        }
        li {
          .listBtn {
            background-color: #f7f7f7;
            border: 2px solid #f7f7f7;
            &:hover {
              background-color: #f0f0ff;
            }
          }
        }
      }

      .timeList {
        width: 300px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 40px;
        }

        li {
          margin-bottom: 20px;

          .timeListBtn {
            padding: 15px 10px;
            background-color: $white;
            border: 1px solid $grey88;
            border-radius: 5px;

            &:hover {
              background-color: #f0f0ff;
            }
          }
        }
        .selectedTimeListBtn {
          padding: 15px 10px;
          background-color: #f0f0ff;
          border: 1px solid #f0f0ff;
          border-radius: 5px;
        }
      }

      .selectedMovie {
        width: 330px;

        .infoSelectMoive {
          height: 532px;
          margin: 50px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;

          .info {
            .movieTitle {
              font-size: 17px;
              font-weight: bold;
            }

            .poster img {
              width: 180px;
              height: 250px;
              background-color: #777;
              margin-bottom: 20px;
            }

            .movieInfo {
              margin-top: 15px;
              font-size: 13px;
            }
          }

          .goToSeatSelect {
            width: 100%;
            height: 60px;
            font-size: 16px;
            border: none;
            background-color: $theme-color;
            color: $white;
            font-weight: bold;
            &:disabled {
              background-color: $grey66;
              color: $white;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
