@import '../../styles/variables.scss';

.list {
  margin-bottom: 3rem;
  width: 230px;
  height: 450px;

  .moviePoster {
    margin-bottom: 1rem;
    position: relative;
    height: 330px;
    cursor: pointer;

    .rank {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
      color: $white;
      font-size: 2rem;
      text-shadow: 2px 2px 2px rgba(2, 2, 2, 0.5);
      z-index: 1;
    }

    .moviePosterImage {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .movieInfo {
    .movieTitle {
      margin-bottom: 0.5rem;
      padding: 0.1rem 0;
      font-weight: 600;
      font-size: 1.15rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .rateDate {
      margin: 0.5rem 0 1rem;
      font-size: 0.9rem;

      .rate {
        position: relative;
        color: $grey66;
        padding-right: 0.8rem;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 12px;
          background-color: #e0e0e0;
        }
      }

      .date {
        padding-left: 0.8rem;
        color: $grey66;
      }
    }

    .btnBooking {
      padding: 0.5rem 0;
      width: 100%;
      background-color: $white;
      color: $grey66;
      border: 1px solid $grey88;
      border-radius: 0.4rem;
      font-size: 1rem;
      font-weight: 500;

      &:hover {
        color: $white;
        background-color: $theme-color;
      }
    }
  }
}
