@import '../../styles/variables.scss';

.movieList {
  margin-top: 5rem;
  width: 100%;

  .contents {
    .title {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey66;
      font-size: 1.8rem;
    }

    .sortTab {
      margin-bottom: 2rem;
      display: flex;
      justify-content: end;

      .btnSort {
        position: relative;
        padding: 0 0.8rem;
        display: inline-block;
        background-color: $white;
        border: none;
        font-size: 1rem;
        color: $grey66;

        &:last-child {
          padding-right: 0;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 12px;
            background-color: $grey88;
          }
        }

        &.on {
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
  }
}
