@import '../../styles/variables.scss';

.selectSeats.contents {
  margin: 50px auto;
  height: 700px;
  border: 1px solid $grey88;

  .bookingTop {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid $grey88;
    background-color: $theme-color;

    h1 {
      font-size: 24px;
      font-weight: 400;
      color: $white;
    }
    .resetButton {
      padding: 5px 5px 5px 23px;
      position: relative;
      border: 1px solid $grey88;
      border-radius: 4px;
      background-color: $white;
      color: $theme-color;
      font-size: 12px;

      &:before {
        content: '';
        position: absolute;
        background: url(../../assets/images/icon_refresh.png) no-repeat;
        background-size: contain;
        top: 45%;
        left: 5px;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
      }
    }
  }

  .seatSection {
    width: 100%;
    height: 642px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .selectArea {
      border-right: 1px solid #e0e0e0;
    }
  }
}
